h1 {
	text-align: center;
	font-family: 'Pacifico', cursive;
	font-size: 50px;
	font-weight: bold;
	letter-spacing: 20px;
	color: #FFFFFF;
}

body {
	background-color: #99FFFF;
}

div.lexi {
	text-align: center;
	font-style: normal;
	word-spacing: 20px;
}

div.star img {
	position: absolute;
	left: 30px;
	top: 400px;
	z-index: -1;
	width: 300px;
	height: 300px;
}

div.seahorse img {
	position: absolute;
	left: 380px;
	top: 400px;
	width: 300px;
	height: 300px;
}

div.home {
	position: absolute;
	top: 800px;
}

div.dolphin img {
	position: absolute;
	top: 400px;
	left: 700px;
	width: 300px;
	height: 300px;
}

ul#menu li {
	display: inline;
	padding: 40px;
}