body {
	font-family: Verdana, sans-serif;
	background-color: #f2f2f2;
}
.title {
	background-color: #ccf2ff; 
	box-shadow: -10px 10px 10px #888;
	width:55%;
	left:30%;
	border-radius: 5px;
}
h2 {
	text-align: center;
	width: 100%;
	border: 1px solid;
	border-radius: 5px;
}
a {
	text-decoration: none;
	color: #000;
}
.link:hover {
	list-style-type: none;
}

a:hover {
	color: #0000ff;
}
.sidebar {
	background-color: #ccf2ff;
	margin: 10px 0px 10px 0px;
	padding: 10px;
	border:none;
	border-radius:10px;
	float: right;
	width: 50%;
	height: 50%;
	box-shadow: -10px 10px 10px #888;
}
.mainp {
	float: left;
	height: 50%;
	width: 40%;
	margin: 10px 0px 10px 10px;
	font-size: 24px;
	border-left: 2px solid black;
	padding: 0px 0px 0px 15px;
	z-index: -1;
}
