body {
	font-family: Tahoma, sans-serif;
	background-color: #f2f2f2;
}
.title {
	background-color: #ccf2ff; 
	box-shadow: -10px 10px 10px #888;
	border-radius: 5px;
}
h2 {
	border: 1px solid;
	border-radius: 5px;
	text-align: center;
	padding: 2px;
}
a {
	text-decoration: none;
	color: #000;
}
.link:hover {
	list-style-type: none;
}

a:hover {
	color: #0000ff;
	text-decoration: none;
}
.sidebar {
	background-color: #ccf2ff;
	border:none;
	border-radius:10px;
	box-shadow: -10px 10px 10px #888;
	margin: 20px 0px 20px 0px;
}
.mainp {
	margin: 20px 0px 20px 0px;
	font-size: 24px;
	border-left: 2px solid black;
}
li {
	display: inline;
	padding: 10px;
	text-align: center;
}
#my_carousel	{
	border: 5px solid black;
}
